In [1]:
#SQL

!pip3 install SQLAlchemy mysql-connector-python
!docker run -d -m "1g" -p 127.0.0.1:3306:3306 -e MYSQL_DATABASE=cs544 -e MYSQL_ROOT_PASSWORD=abc mysql
!docker exec -it <CONTAINER> bash
!mysql -p cs544

Defaulting to user installation because normal site-packages is not writeable
Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 10.1 MB/s eta 0:00:0000:0100:01
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp310-cp310-manylinux1_x86_64.whl (23.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 16.8 MB/s eta 0:00:0000:0100:01
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (613 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 613.7/613.7 KB 48.1 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in /home/teddyarasavelli/.local/lib/python3.10/site-packages (from SQLAlchemy) (4.4.0)
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 61.8 MB/s eta 0:00:00
Installing collected packages: protobuf, greenlet, SQLAlchemy, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.21.12
    Uninstalling protobuf-4.21.12:
      Successfully uninstalled protobuf-4.21.12
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
grpcio-tools 1.51.1 requires protobuf<5.0dev,>=4.21.6, but you have protobuf 3.20.3 which is incompatible.
Successfully installed SQLAlchemy-2.0.4 greenlet-2.0.2 mysql-connector-python-8.0.32 protobuf-3.20.3
Unable to find image 'mysql:latest' locally
latest: Pulling from library/mysql

c423e046: Pulling fs layer
d8e4ffd1: Pulling fs layer
b06949ab: Pulling fs layer
93284da9: Pulling fs layer
337ae65d: Waiting fs layer
cc79221c: Pulling fs layer
cc79221c: Waiting fs layer
461351e0: Waiting fs layer
3cafbd11: Pulling fs layer
3cafbd11: Waiting fs layer
Digest: sha256:d8dc78532e9eb3759344bf89e6e7236a34132ab79150607eb08cc746989aa0472K
Status: Downloaded newer image for mysql:latest
742d4570ccf40898647126151e5ed43364c25fd555e65a8282171d813a2c2e07
/bin/bash: line 1: CONTAINER: No such file or directory
/bin/bash: line 1: mysql: command not found

In [2]:
import pandas as pd

In [3]:
from sqlalchemy import create_engine, text
engine = create_engine("mysql+mysqlconnector://root:abc@127.0.0.1:3306/cs544")
conn = engine.connect()
loan_cols = ["lei", "action_taken", "loan_type", "loan_amount", "interest_rate", "loan_purpose", "income"]

In [13]:
list(conn.execute(text("select * from accounts")))

# can also use pandas
pd.read_sql(text("select * from accounts"), conn)

   user_id name  amount
0        1    A      10
1        1    B     100

In [16]:
df = pd.read_csv("https://github.com/cfpb/api/tree/master/resources/datasets/hmda/code_sheets")
df.to_sql("actions", conn, index = False, if_exists = "replace")

pd.read_parquet("loans.parquet"), columns = loan_cols)

df.to_sql("loans", conn, chunksize = 100, index = False, if_exists = False) # turs a df into a sql database
conn.commit() #

ParserError: Error tokenizing data. C error: Expected 1 fields in line 85, saw 3

In [ ]:
conn.execute(text("""upate accounts set amount = amount - 6
WHERE name = 'A'
"""))

conn.execute(text("""upate accounts set amount = amount + 6
WHERE name = 'B'
"""))

conn.execute(text("select amount from accounts"))
if rows[0][0] >= 0:
    conn.commit()
    print("transaction complete") ## commit if everything works
else:
    conn.rollback()
    print('transaction failed') ## make sure if something goes wrong, that all the changes (even the ones that did work) are reset

In [1]:
# QUERY PRACTICE

# getting the first 10 loans
pd.read_sql(text("""
SELECT *
FROM loans
LIMIT 10;
"""), conn)

# first 10 interest rates and loan amounts in thousands - projection as we are choosing columns
pd.read_sql(text("""
SELECT interest_rate, (loan_amount / 1000) as loan_thousands
FROM loans
LIMIT 10;
"""), conn)

# loans for individuals over 1 mil
pd.read_sql(text("""
SELECT *
FROM loans
WHERE income >= 1000000
"""), conn)

# five biggest loans by dollar amount

pd.read_sql(test("""
SELECT *
FROM loans
ORDER BY loan_amount DESC
LIMIT 5
"""))

# what are the actions taken and types for those loans
# inner join will join two tables based on ON and a specified pairing of columns

pd.read_sql(test("""
SELECT lei, loan_amount, interest_rate, income, actions.action_taken, loans_type .loan_type
FROM loans
INNER JOIN actions ON loans.action_taken = actions.id 
INNER JOIN loan_type ON loans.loan_type = loan_type.id
ORDER BY loan_amount DESC
LIMIT 5
"""))

# loan_purpose that doesnt appear in the loans table: LEFT RIGHT JOIN
# essentially LEFT JOIN will keep every row in the left table and will fill in with nulls where there isnt a match. Right join does the same but with the right hand table
pd.read_sql(text("""
SELECT *
FROM purposes
LEFT JOIN loans ON purposes.id = loans.loan_purpose
WHERER loans.loan_purpose IS NULL
LIMIT = 10
"""))

# how many rows in table
pd.read_sql(text("""
SELECT COUNT(*)
FROM loans
"""))

## how many non null values are in incoome column
pd.read_sql(text("""
SELECT COUNT(*)
FROM loans
"""))

# average interest rate for loans of type conventional. Practice AVG
pd.read_sql(test("""
SELECT loan_type.loan_type, COUNT(*)
FROM loans
INNER JOIN actions ON loan.action_taken = action.id
INNER JOIN loan_type ON loans.loan_type = loan_type.id
WHERE loan_type.looan_type = 'Conventional'
"""))

# how many loans are there of each type

pd.read_sql(text("""
SELECT loan_type.loan_type, COUNT(*)
FROM loans
INNER JOIN actions ON loan.actions_taken = action.id
INNER JOIN loan_type ON loans.loan_type = loan_type.id
GROUP BY loan_type.loan_type
"""), conn)

# which loan types appear at least 10k times
pd.read_sql(text("""
SELECT loan_type.loan_type, COUNT(*) as total
FROM loans
INNER JOIN actions ON loan.actions_taken = action.id
INNER JOIN loan_type ON loans.loan_type = loan_type.id
GROUP BY loan_type.loan_type
HAVING total >= 10000
"""), conn)

# how many loans are between 10k and 20k? Practice BETWEEN
pd.read_sql(text("""
SELECT COUNT(*)
FROM loans
WHERE loan_amount BETWEEN 10000 and 20000
"""), conn)

# How fast is above query with a tree structure instead of a list?
## adding the tree
conn.execute(text("CREATE INDEX loan_amount_idx USING BTREE ON loans(loan_amount)"))
## will add the binary search tree indexing to each loan which will speed up operations




# how many loans of each type?

NameError: name 'pd' is not defined

In [ ]:
##